@model ShopSpateViewModel

@if(ViewBag.coincidence)
{
    <div class = "alert alert-danger" role = "alert">
        <h4 class="alert-heading">Внимание!!!</h4>
        <p>Вы уже добавили этот товар в корзину!!! По нашим правилам в корзине не может быть двух наименований одинакового товара.</p>
        <hr>
        <p class="mb-0">
            Может посмотрете что-то еще?
             <a class = "nav-link" asp-controller="Cars" asp-action = "List">Ссылка на все товары</a>
        </p>

    </div>
}

<div class="container">
    @foreach (var el in Model.ShopSpateItem)
        {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <b>Автомобиль:</b> @el.spate.name <br />
             <b>Цена:</b> @el.spate.price.ToString("c")
            <a class="btn-close" aria-label="Close" asp-controller="ShopCart" asp-action="deleteToCart" asp-route-id="@el.id"></a>
        </div>
}
            <hr />
     <a class="btn btn-danger" asp-controller ="Order" asp-action="CheckOut">Оплатить</a>
</div>